### Data Fetching

In [1]:
!pip install yfinance

Requirement already satisfied: yfinance in c:\users\mohdz\anaconda3\lib\site-packages (1.2.0)
Requirement already satisfied: pandas>=1.3.0 in c:\users\mohdz\anaconda3\lib\site-packages (from yfinance) (2.3.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\mohdz\anaconda3\lib\site-packages (from yfinance) (2.3.5)
Requirement already satisfied: requests>=2.31 in c:\users\mohdz\anaconda3\lib\site-packages (from yfinance) (2.32.5)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\mohdz\anaconda3\lib\site-packages (from yfinance) (0.0.12)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\mohdz\anaconda3\lib\site-packages (from yfinance) (4.5.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\mohdz\anaconda3\lib\site-packages (from yfinance) (2025.2)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\mohdz\anaconda3\lib\site-packages (from yfinance) (2.4.6)
Requirement already satisfied: peewee>=3.16.2 in c:\users\mohdz\anaconda3\lib\site-packages (from yfinance) (3.19.0)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\mohdz\anaconda3\lib\site-packages (from yfinance) (4.13.5)
Requirement already satisfied: curl_cffi<0.14,>=0.7 in c:\users\mohdz\anaconda3\lib\site-packages (from yfinance) (0.13.0)
Requirement already satisfied: protobuf>=3.19.0 in c:\users\mohdz\anaconda3\lib\site-packages (from yfinance) (5.29.3)
Requirement already satisfied: websockets>=13.0 in c:\users\mohdz\anaconda3\lib\site-packages (from yfinance) (16.0)
Requirement already satisfied: cffi>=1.12.0 in c:\users\mohdz\anaconda3\lib\site-packages (from curl_cffi<0.14,>=0.7->yfinance) (2.0.0)
Requirement already satisfied: certifi>=2024.2.2 in c:\users\mohdz\anaconda3\lib\site-packages (from curl_cffi<0.14,>=0.7->yfinance) (2026.1.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\mohdz\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: typing-extensions>=4.0.0 in c:\users\mohdz\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (4.15.0)
Requirement already satisfied: pycparser in c:\users\mohdz\anaconda3\lib\site-packages (from cffi>=1.12.0->curl_cffi<0.14,>=0.7->yfinance) (2.23)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mohdz\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mohdz\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\mohdz\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.3.0->yfinance) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\mohdz\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mohdz\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\mohdz\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.5.0)

In [2]:
import yfinance as yf
import pandas as pd
import requests
import bs4 as bs

In [5]:
resp = requests.get("http://en.wikipedia.org/wiki/List_of_S%26P_500_companies")

'''
soup = bs.BeautifulSoup(resp.text, "lxml")
table = soup.find("table", { "class": "wikitable sortable" })
tickers = []
for row in table.findAll("tr")[1:]:
  ticker = row.findAll("td")[0].text
  tickers.append(ticker.strip())'''

'\nsoup = bs.BeautifulSoup(resp.text, "lxml")\ntable = soup.find("table", { "class": "wikitable sortable" })\ntickers = []\nfor row in table.findAll("tr")[1:]:\n  ticker = row.findAll("td")[0].text\n  tickers.append(ticker.strip())'

In [6]:
data = download_sp500_data()

NameError: name 'download_sp500_data' is not defined

In [7]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

# Use requests with a proper User-Agent header to avoid being blocked
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36'
}

# Get the page content
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'
response = requests.get(url, headers=headers)

# Parse the HTML
soup = BeautifulSoup(response.text, 'html.parser')

# Find the first table on the page (which should be the S&P 500 companies table)
table_html = str(soup.find('table', {'class': 'wikitable'}))

# Use pd.read_html on the extracted table HTML
table = pd.read_html(table_html)[0]

C:\Users\mohdz\AppData\Local\Temp\ipykernel_28384\4274665274.py:21: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  table = pd.read_html(table_html)[0]

In [8]:
table['Symbol'].to_csv('sp500_symbols.csv', index=False)

### Reading tickers through yfinance and finding returns

In [9]:

def download_sp500_data():
    # Step 1: Get the S&P 500 ticker list from Wikipedia
    print("Fetching S&P 500 ticker list...")
    # Clean tickers (Yahoo uses '-' instead of '.' for symbols like BRK.B)
    tickers = pd.read_csv('sp500_symbols.csv')
    tickers = tickers['Symbol'].to_list()
    print(f"Found {len(tickers)} tickers. Starting download...")

    # Step 2: Download the data
    # We use yf.download because it's optimized for bulk requests
    # period="1y" gives you the last year of data; change to "max" for everything
    data = yf.download(tickers[:10], period="1y", threads=True)

    
    # Save the consolidated file
    #data.to_csv("sp10_historical_data.csv")
    
    return data

data = download_sp500_data()

Fetching S&P 500 ticker list...
Found 503 tickers. Starting download...

[*********************100%***********************]  10 of 10 completed

In [10]:
data.head()

Price            Close                                                  \
Ticker               A        ABBV         ABT         ACN        ADBE
Date
2025-02-21  134.288986  195.521011  132.435028  360.658875  444.320007
2025-02-24  134.199677  197.456085  132.464478  360.312317  444.420013
2025-02-25  133.108475  197.514130  133.318451  359.361816  443.410004
2025-02-26  133.396179  196.420807  133.455872  354.807281  441.500000
2025-02-27  126.065186  198.365570  133.367538  353.341919  437.190002

Price                                                                 ...  \
Ticker            AES         AFL         AMD        AOS         MMM  ...
Date                                                                  ...
2025-02-21  10.016912   99.992035  110.839996  64.657867  142.356628  ...
2025-02-24  10.139878  101.881065  108.110001  64.902855  142.847580  ...
2025-02-25  10.272300  104.465050  103.959999  65.647621  143.888382  ...
2025-02-26  10.329055  103.564568  104.739998  64.834259  144.762299  ...
2025-02-27   9.818277  105.150185   99.510002  64.618668  147.796387  ...

Price        Volume                                                         \
Ticker            A     ABBV      ABT      ACN     ADBE       AES      AFL
Date
2025-02-21  1112200  5889400  7160100  3751700  3376000  19723000  3539600
2025-02-24  2037500  6305000  5947200  2755800  2807900  10345900  2475400
2025-02-25  2607000  7746800  6385700  1947600  2612700  12792000  2147200
2025-02-26  1539900  4766700  5388000  2267500  1947600  12192600  1586200
2025-02-27  3469100  5696900  4890700  2735400  2340200  16285600  1831100

Price
Ticker           AMD      AOS      MMM
Date
2025-02-21  41353700  1097800  4278500
2025-02-24  29072200   926800  3447500
2025-02-25  39169200  1316600  4358800
2025-02-26  29178200  1091100  5783400
2025-02-27  47263700   795100  6576000

[5 rows x 50 columns]

In [11]:
opens = data.xs('Open', level=0, axis=1)
closes = data.xs('Close', level=0, axis=1)
rets = (opens - closes) / opens
closes

Ticker,A,ABBV,ABT,ACN,ADBE,AES,AFL,AMD,AOS,MMM
Date,,,,,,,,,,
2025-02-21,134.288986,195.521011,132.435028,360.658875,444.320007,10.016912,99.992035,110.839996,64.657867,142.356628
2025-02-24,134.199677,197.456085,132.464478,360.312317,444.420013,10.139878,101.881065,108.110001,64.902855,142.847580
2025-02-25,133.108475,197.514130,133.318451,359.361816,443.410004,10.272300,104.465050,103.959999,65.647621,143.888382
2025-02-26,133.396179,196.420807,133.455872,354.807281,441.500000,10.329055,103.564568,104.739998,64.834259,144.762299
2025-02-27,126.065186,198.365570,133.367538,353.341919,437.190002,9.818277,105.150185,99.510002,64.618668,147.796387
...,...,...,...,...,...,...,...,...,...,...
2026-02-13,125.809998,231.500000,112.680000,224.229996,263.970001,16.280001,114.302704,207.320007,80.459999,171.820007
2026-02-17,123.870003,232.860001,112.260002,219.889999,260.450012,16.389999,114.809998,203.080002,79.470001,167.619995
2026-02-18,126.940002,228.720001,113.290001,223.610001,263.170013,16.290001,113.620003,200.119995,78.959999,164.169998
2026-02-19,126.339996,224.350006,112.190002,214.949997,259.209991,16.360001,112.760002,203.369995,77.690002,165.050003
2026-02-20,122.900002,224.809998,112.209999,215.350006,258.609985,16.510000,114.029999,200.149994,77.809998,167.059998

### Momentum with last year daily data

In [12]:
lookback = 126
hold_out = 21

delayed_price = closes.shift(hold_out)
starting_price = closes.shift(hold_out + lookback)

mom_score = (delayed_price/starting_price) - 1
mom_score

Ticker,A,ABBV,ABT,ACN,ADBE,AES,AFL,AMD,AOS,MMM
Date,,,,,,,,,,
2025-02-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2025-02-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2026-02-13,0.291319,0.172681,-0.046942,0.031716,-0.158471,0.103711,0.097782,0.396802,0.056744,0.088533
2026-02-17,0.249400,0.140609,0.034834,0.017934,-0.170173,0.123727,0.092319,0.420859,0.027983,0.085445
2026-02-18,0.229674,0.149912,-0.006057,0.013348,-0.190465,0.089405,0.086928,0.476718,0.041605,0.104873
2026-02-19,0.216940,0.175643,-0.017079,-0.034484,-0.210264,0.032449,0.092061,0.477197,0.032070,0.030724
2026-02-20,0.207513,0.172892,-0.030612,-0.021745,-0.210905,0.058412,0.068371,0.614529,0.026475,0.040166

In [13]:
all_daily_ranks = mom_score.rank(axis=1, pct=True)
all_daily_ranks

Ticker        A  ABBV  ABT  ACN  ADBE  AES  AFL  AMD  AOS  MMM
Date
2025-02-21  NaN   NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
2025-02-24  NaN   NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
2025-02-25  NaN   NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
2025-02-26  NaN   NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
2025-02-27  NaN   NaN  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN
...         ...   ...  ...  ...   ...  ...  ...  ...  ...  ...
2026-02-13  0.9   0.8  0.2  0.3   0.1  0.7  0.6  1.0  0.4  0.5
2026-02-17  0.9   0.8  0.4  0.2   0.1  0.7  0.6  1.0  0.3  0.5
2026-02-18  0.9   0.8  0.2  0.3   0.1  0.6  0.5  1.0  0.4  0.7
2026-02-19  0.9   0.8  0.3  0.2   0.1  0.6  0.7  1.0  0.5  0.4
2026-02-20  0.9   0.8  0.2  0.3   0.1  0.6  0.7  1.0  0.4  0.5

[251 rows x 10 columns]

In [14]:
current_top_5 = all_daily_ranks.iloc[-1].sort_values(ascending=False).head(3).index.to_list()
current_top_5

['AMD', 'A', 'ABBV']

In [57]:
def sp500_stockprice(period='1y', interval='1d'):
    '''
    Downloads S&P500 stock prices given a period and interval and returns the dataframe.
    '''

    # Reading ticker symbols and converting to list format
    tickers = pd.read_csv('sp500_symbols.csv')
    tickers = tickers['Symbol'].to_list()

    # Downloading data for each stock from yahoo finance.
    # Retrieves multi column dataframe with open,close,min,max,volume at first level and ticker labels at second level
    data = yf.download(tickers, start='2020-01-01' , interval=interval, threads=True)

    return data

def mom_returns(stocks_df, lookback, lag, num_of_stocks):

    closes = stocks_df.xs('Close', level=0, axis=1)

    lookback = lookback
    hold_out = lag
    
    delayed_price = closes.shift(hold_out)
    starting_price = closes.shift(hold_out + lookback)
    
    mom_score = (delayed_price/starting_price) - 1

    all_daily_ranks = mom_score.rank(axis=1, pct=True)

    long_pos = all_daily_ranks.iloc[-1].sort_values(ascending=False).head(num_of_stocks).index.to_list()
    short_pos = all_daily_ranks.iloc[-1].sort_values(ascending=False).tail(num_of_stocks).index.to_list()

    print('Go Long on ', long_pos)
    print('Go Short on ', short_pos)

In [58]:
sp500 = sp500_stockprice()
mom_returns(sp500, 126, 21, 10)

[**********            21%                       ]  108 of 503 completed$BF.B: possibly delisted; no price data found  (1d 2020-01-01 -> 2026-02-20)
[**********************87%*****************      ]  440 of 503 completed$BRK.B: possibly delisted; no timezone found
[*********************100%***********************]  503 of 503 completed

2 Failed downloads:
['BF.B']: possibly delisted; no price data found  (1d 2020-01-01 -> 2026-02-20)
['BRK.B']: possibly delisted; no timezone found

Go Long on  ['SNDK', 'WDC', 'MU', 'CIEN', 'TER', 'STX', 'LRCX', 'INTC', 'WBD', 'ALB']
Go Short on  ['SMCI', 'PAYC', 'GDDY', 'COIN', 'CHTR', 'TTD', 'FISV', 'BF.B', 'BRK.B', 'Q']

In [17]:
aapl = yf.download('AAPL')

[*********************100%***********************]  1 of 1 completed

In [25]:
!pip install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl.metadata (2.9 kB)
Requirement already satisfied: lxml in c:\users\mohdz\anaconda3\lib\site-packages (from pandas_datareader) (5.3.0)
Requirement already satisfied: pandas>=0.23 in c:\users\mohdz\anaconda3\lib\site-packages (from pandas_datareader) (2.3.3)
Requirement already satisfied: requests>=2.19.0 in c:\users\mohdz\anaconda3\lib\site-packages (from pandas_datareader) (2.32.5)
Requirement already satisfied: numpy>=1.26.0 in c:\users\mohdz\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.3.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\mohdz\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\mohdz\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\mohdz\anaconda3\lib\site-packages (from pandas>=0.23->pandas_datareader) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\mohdz\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas>=0.23->pandas_datareader) (1.17.0)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\mohdz\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.4.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\mohdz\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (3.11)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\mohdz\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2.5.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\mohdz\anaconda3\lib\site-packages (from requests>=2.19.0->pandas_datareader) (2026.1.4)
Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
Installing collected packages: pandas_datareader
Successfully installed pandas_datareader-0.10.0

In [30]:
import yfinance as yf
import pandas_datareader.data as web
import pandas as pd
import statsmodels.api as sm

# 1. Define parameters
ticker = 'AAPL'
start_date = '2020-01-01'
end_date = '2023-12-31'

# 2. Pull Stock Data
# We use .squeeze() to ensure we get a Series even if yfinance returns a DataFrame
df_stock = yf.download(ticker, start=start_date, end=end_date)['Close'].squeeze()

# 3. Process Stock Returns
# Convert to Monthly, calculate % change, and crucially: convert to PeriodIndex ('M')
stock_returns = df_stock.resample('ME').last().pct_change().dropna()
stock_returns.index = stock_returns.index.to_period('M') 
stock_returns.name = 'Returns'

# 4. Pull Fama-French 3 Factors
# These already come as PeriodIndex ('M') from pandas_datareader
ff_factors = web.DataReader('F-F_Research_Data_Factors', 'famafrench', start_date, end_date)[0]
ff_factors = ff_factors / 100

# 5. Merge
# Now that both indices are PeriodIndex('M'), they will align perfectly
data = pd.merge(stock_returns, ff_factors, left_index=True, right_index=True)

# 6. Calculate Excess Returns
data['Excess_Ret'] = data['Returns'] - data['RF']

# 7. Run the Regression (The "Fitting" part)
Y = data['Excess_Ret']
X = data[['Mkt-RF', 'SMB', 'HML']]
X = sm.add_constant(X)  # Adds the Intercept/Alpha

model = sm.OLS(Y, X).fit()

print("--- Regression Results ---")
print(model.summary())

[*********************100%***********************]  1 of 1 completed

--- Regression Results ---
                            OLS Regression Results
==============================================================================
Dep. Variable:             Excess_Ret   R-squared:                       0.741
Model:                            OLS   Adj. R-squared:                  0.723
Method:                 Least Squares   F-statistic:                     41.00
Date:                Sat, 21 Feb 2026   Prob (F-statistic):           1.12e-12
Time:                        02:21:40   Log-Likelihood:                 78.428
No. Observations:                  47   AIC:                            -148.9
Df Residuals:                      43   BIC:                            -141.5
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.0116      0.007      1.646      0.107      -0.003       0.026
Mkt-RF         1.2938      0.125     10.387      0.000       1.043       1.545
SMB           -0.3544      0.237     -1.492      0.143      -0.833       0.124
HML           -0.5356      0.140     -3.825      0.000      -0.818      -0.253
==============================================================================
Omnibus:                        2.422   Durbin-Watson:                   1.894
Prob(Omnibus):                  0.298   Jarque-Bera (JB):                1.457
Skew:                           0.346   Prob(JB):                        0.483
Kurtosis:                       3.515   Cond. No.                         34.7
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

C:\Users\mohdz\AppData\Local\Temp\ipykernel_28384\1424698550.py:23: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  ff_factors = web.DataReader('F-F_Research_Data_Factors', 'famafrench', start_date, end_date)[0]
C:\Users\mohdz\AppData\Local\Temp\ipykernel_28384\1424698550.py:23: FutureWarning: The argument 'date_parser' is deprecated and will be removed in a future version. Please use 'date_format' instead, or read your data in as 'object' dtype and then call 'to_datetime'.
  ff_factors = web.DataReader('F-F_Research_Data_Factors', 'famafrench', start_date, end_date)[0]

In [38]:
data

          Returns  Mkt-RF     SMB     HML      RF  Excess_Ret
Date
2020-02 -0.114701 -0.0815  0.0108 -0.0382  0.0012   -0.115901
2020-03 -0.069762 -0.1337 -0.0469 -0.1383  0.0012   -0.070962
2020-04  0.155374  0.1360  0.0250 -0.0134  0.0000    0.155374
2020-05  0.085095  0.0557  0.0240 -0.0500  0.0001    0.084995
2020-06  0.147386  0.0245  0.0267 -0.0217  0.0001    0.147286
2020-07  0.165132  0.0583 -0.0235 -0.0144  0.0001    0.165032
2020-08  0.216569  0.0762 -0.0020 -0.0302  0.0001    0.216469
2020-09 -0.102526 -0.0364  0.0006 -0.0272  0.0001   -0.102626
2020-10 -0.060012 -0.0208  0.0434  0.0425  0.0001   -0.060112
2020-11  0.095493  0.1245  0.0581  0.0209  0.0001    0.095393
2020-12  0.114574  0.0463  0.0501 -0.0168  0.0001    0.114474
2021-01 -0.005502 -0.0007  0.0714  0.0322  0.0000   -0.005502
2021-02 -0.079712  0.0281  0.0202  0.0720  0.0000   -0.079712
2021-03  0.007340  0.0316 -0.0233  0.0735  0.0000    0.007340
2021-04  0.076218  0.0495 -0.0319 -0.0102  0.0000    0.076218
2021-05 -0.050497  0.0030 -0.0020  0.0704  0.0000   -0.050497
2021-06  0.099109  0.0274  0.0170 -0.0786  0.0000    0.099109
2021-07  0.064982  0.0134 -0.0393 -0.0179  0.0000    0.064982
2021-08  0.042489  0.0294 -0.0032 -0.0023  0.0000    0.042489
2021-09 -0.068036 -0.0440  0.0066  0.0512  0.0000   -0.068036
2021-10  0.058657  0.0663 -0.0226 -0.0053  0.0000    0.058657
2021-11  0.105082 -0.0158 -0.0131 -0.0037  0.0000    0.105082
2021-12  0.074229  0.0323 -0.0163  0.0325  0.0001    0.074129
2022-01 -0.015712 -0.0616 -0.0593  0.1286  0.0000   -0.015712
2022-02 -0.054066 -0.0228  0.0216  0.0306  0.0000   -0.054066
2022-03  0.057473  0.0308 -0.0155 -0.0190  0.0000    0.057473
2022-04 -0.097131 -0.0941 -0.0135  0.0618  0.0000   -0.097131
2022-05 -0.054496 -0.0034 -0.0184  0.0844  0.0003   -0.054796
2022-06 -0.081430 -0.0840  0.0207 -0.0600  0.0006   -0.082030
2022-07  0.188634  0.0957  0.0284 -0.0415  0.0008    0.187834
2022-08 -0.031208 -0.0377  0.0141  0.0018  0.0019   -0.033108
2022-09 -0.120977 -0.0934 -0.0076  0.0003  0.0019   -0.122877
2022-10  0.109551  0.0785  0.0001  0.0797  0.0023    0.107251
2022-11 -0.033027  0.0465 -0.0357  0.0148  0.0029   -0.035927
2022-12 -0.122273 -0.0638 -0.0076  0.0134  0.0033   -0.125573
2023-01  0.110521  0.0661  0.0501 -0.0394  0.0035    0.107021
2023-02  0.023183 -0.0257  0.0105 -0.0080  0.0034    0.019783
2023-03  0.118648  0.0248 -0.0548 -0.0905  0.0036    0.115048
2023-04  0.028987  0.0062 -0.0337 -0.0012  0.0035    0.025487
2023-05  0.046058  0.0034  0.0160 -0.0779  0.0036    0.042458
2023-06  0.094330  0.0646  0.0149 -0.0013  0.0040    0.090330
2023-07  0.012785  0.0321  0.0205  0.0406  0.0045    0.008285
2023-08 -0.042384 -0.0236 -0.0314 -0.0115  0.0045   -0.046884
2023-09 -0.088678 -0.0523 -0.0251  0.0149  0.0043   -0.092978
2023-10 -0.002570 -0.0315 -0.0386  0.0020  0.0047   -0.007270
2023-11  0.113780  0.0888 -0.0010  0.0167  0.0044    0.109380
2023-12  0.013583  0.0485  0.0630  0.0489  0.0043    0.009283

In [50]:
def calculate_umd_vectorized(stocks_df, x_percent=0.3):
    # 1. Monthly Closes and Returns
    monthly_closes = stocks_df['Close'].resample('ME').last()
    monthly_returns = monthly_closes.pct_change() # Returns at time T
    
    # 2. Momentum Score (using your 12-1 logic)
    # Score at time T = Price(T-1) / Price (T-12)
    mom_score = (monthly_closes.shift(1) / monthly_closes.shift(6)) - 1
    
    # 3. Rank the scores across columns (axis=1)
    ranks = mom_score.rank(axis=1, pct=True)
    
    # 4. Identify Winners and Losers
    # We create boolean masks
    winners_mask = (ranks >= (1 - x_percent))
    losers_mask = (ranks <= x_percent)
    
    # 5. Apply masks to the returns and calculate the mean for each row
    # monthly_returns.where(condition) keeps the value if true, else NaN
    win_returns = monthly_returns.where(winners_mask).mean(axis=1)
    lose_returns = monthly_returns.where(losers_mask).mean(axis=1)
    
    # 6. Final Factor Calculation
    umd_series = win_returns - lose_returns
    umd_df = umd_series.to_frame(name='UMD').dropna()
    umd_df.index = umd_df.index.to_period('M')
    
    return umd_df

In [56]:
sp500.tail()

Price      Adj Close                                             ...   Volume  \
Ticker           APP BF.B BRK.B CEG COIN EXE GEHC GEV HOOD KVUE  ...       WY
Date                                                             ...
2020-12-24       NaN  NaN   NaN NaN  NaN NaN  NaN NaN  NaN  NaN  ...  1135400
2020-12-28       NaN  NaN   NaN NaN  NaN NaN  NaN NaN  NaN  NaN  ...  2541700
2020-12-29       NaN  NaN   NaN NaN  NaN NaN  NaN NaN  NaN  NaN  ...  1988100
2020-12-30       NaN  NaN   NaN NaN  NaN NaN  NaN NaN  NaN  NaN  ...  2128900
2020-12-31       NaN  NaN   NaN NaN  NaN NaN  NaN NaN  NaN  NaN  ...  2633400

Price                                                                      \
Ticker         WYNN      XEL       XOM     XYL       XYZ      YUM     ZBH
Date
2020-12-24   850900   598400   8039000  249700   8411200   340400  292314
2020-12-28  1912000  1799800  23877500  408600  11640000  1822900  704520
2020-12-29  1262500  1761400  20287700  501900  15453100  1818300  757771
2020-12-30  2087100  1296400  23807300  418200   9837000  1267900  440428
2020-12-31  2103400  1743300  22786500  504200   6872400  1651700  514176

Price
Ticker        ZBRA      ZTS
Date
2020-12-24  138300   417400
2020-12-28  251200  1522400
2020-12-29  185500  1188400
2020-12-30  166100  1009000
2020-12-31  176500  1292600

[5 rows x 2529 columns]

In [59]:
calculate_umd_vectorized(sp500)

C:\Users\mohdz\AppData\Local\Temp\ipykernel_28384\2673611225.py:4: FutureWarning: The default fill_method='pad' in DataFrame.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  monthly_returns = monthly_closes.pct_change() # Returns at time T

              UMD
Date
2020-07  0.070578
2020-08 -0.009993
2020-09 -0.003116
2020-10  0.008554
2020-11 -0.053709
...           ...
2025-10  0.065200
2025-11 -0.012804
2025-12 -0.021044
2026-01  0.046043
2026-02  0.058179

[68 rows x 1 columns]

In [69]:
hi = pd.read_csv('ff_monthly.csv')
hi

      Unnamed: 0  Mkt-RF   SMB   HML    RF
0         192607    2.89 -2.55 -2.39  0.22
1         192608    2.64 -1.14  3.81  0.25
2         192609    0.38 -1.36  0.05  0.23
3         192610   -3.27 -0.14  0.82  0.32
4         192611    2.54 -0.11 -0.61  0.31
...          ...     ...   ...   ...   ...
1189      202508    1.84  3.87  4.42  0.38
1190      202509    3.39 -1.85 -1.05  0.33
1191      202510    1.96 -0.55 -3.09  0.37
1192      202511   -0.13  0.38  3.76  0.30
1193      202512   -0.36 -1.06  2.42  0.34

[1194 rows x 5 columns]